<div @bounce class="container p-5">
  <div class="row m-5 d-flex">
    <div class="col-md-6">
      <div>
        <p id="parentDiv" class="display-4 m-2">Todos</p>
      </div>
      <div class="input-group">
        <input
          #newTodo
          (keyup.enter)="addTodo(newTodo)"
          type="text"
          class="form-control m-2"
        />
      </div>
      <div *ngIf="todos">
        <ul class="list-group m-2 rounded">
          <li
            @fade
            (@fade.start)="animationStart($event)"
            (@fade.done)="animationDone($event)"
            *ngFor="let todo of todos"
            class="list-group-item"
            (click)="removeItem(todo)"
          >
            <span class="badge badge-info m-1">{{ todo.id }}</span>
            {{ todo.description }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="accordion">
        <div class="card rounded border-bottom">
          <div class="card-header">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" (click)="onClick()">
                {{ title }}
              </button>
              <span><i class="float-right" (click)="onClick()"></i></span>
            </h2>
          </div>
          <div [@expandCollapse]="showHide ? 'expanded' : 'collapsed'">
            <div class="card-body">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
